body {
    background:#D8DEF2;
    font-family: Arial, Helvetica, sans-serif;
}
.assignment {
    display: flex;
    padding:10px;
    margin: 10px;
    background: #1F64BF;
}

.assignment img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 4px solid #F2C8C4;
    border-radius: 30px;
}

.assignment img:hover {
    border: 4px solid #2175BF;
}

h1{
    color: #2175BF;
    text-align: center;
}

a {
    text-decoration: none;
    color:#BF8275;
}

a:hover {
    color: #D8DEF2;
}





