body {
    background:#D8DEF2;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
    
}

.assignment {
    width: 22%;
    padding:10px;
    margin: 10px;
    padding: 20 px 10px;
    background: #1F64BF;
    border-radius: 5px;
}

.assignment img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 4px solid #5092cc;
    border-radius: 30px;
    display: block;
    margin: auto;
}

.assignment img:hover {
    border: 4px solid #BF8275;
}

h1{
    color: #5092cc;
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color:#BF8275;
}

a:hover {
    color: #D8DEF2;
}





